.clickButton {
    position: center;
    padding: 10;
    width: 100;
    height: 50;
}

.moneyAmount {
    position: absolute;
    left: 668;
    bottom: 375;
    width: 100;
    height: 25;
}

.saveButton {
    position: absolute;
    left: 10;
    bottom: 10;
}

.loadButton {
    position: absolute;
    left: 60;
    bottom: 10;
}

.resetButton {
    position: absolute;
    left: 1475;
    bottom: 10;
}
