#website {
    position: fixed;
    left: 69%;
    bottom: 5%;
    width: 30%;
    height: 90%;
    border: 4px solid black;
    background-color: rgb(250, 248, 248);
    text-align: center;
}

#ad1 {
    position: fixed;
    left: 70%;
    bottom: 50%;
    background-image: url(https://raw.githubusercontent.com/Supergoed1/CompanyClicker/master/Images/IdleRpg.png);
    width: 10%;
    height: 15%;
    border: 4px solid black;
    text-align: center;
}